{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    <!-- controller에서 받는 데이터는 articleList기 때문에 articleList로 변경 !-->
    <!-- articleList가 묶음인 경우 아래 id,title,content에 대한 출력이 반복된다. !-->
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}"> {{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>
<!-- <a>태그로 링크 설정 !-->
<a href="/articles/new">New Article</a>

{{>layouts/footer}}